---
import type { Language } from '@src/types';
import type { CollectionEntry } from 'astro:content';
import { getBlogEntry } from '@src/prework';
import { render } from 'astro:content';
import Layout from '@src/layout/layout.astro';
import Comments from '@src/layout/third-party/comments.astro';

type BlogEntry = CollectionEntry<'cn_blog' | 'en_blog'>;

export async function getStaticPaths() {
  const languages = ['en', 'zh-CN'];
  const paths: { params: { lang: string; abbrlink: string }; props: { entry: BlogEntry; lang: string } }[] = [];

  for (const lang of languages) {
    const blogEntries = await getBlogEntry(lang);
    paths.push(...blogEntries.map(entry => ({
      params: { lang, abbrlink: entry.data.abbrlink },
      props: { entry, lang },
    })));
  }

  return paths;
}
const { entry, lang } = Astro.props as { entry: BlogEntry; lang: Language };
const { Content, headings } = await render(entry);

---
<Layout lang={lang} page={entry.data} postHeadings={headings}>
  <div id="post">
    <article id="article-container" class="post-content">
      <Content />
    </article>
    <Comments lang={lang}/>
  </div>
</Layout>
