---
import { theme } from '../../theme';
import { useTranslations } from '@src/utils';

const lang = Astro.url.pathname.startsWith('/en') ? 'en' : 'zh-CN';
const t = useTranslations(lang);
---

{theme.preloader.enable ? (
  <div id="loading-box">
    <div class="configure-border-2">
      <div class="configure-core"></div>
    </div>
    <div class="loading-word">{t('loading')}</div>
    <script>
      {`
        (() => {
          const $loadingBox = document.getElementById('loading-box');
          const $body = document.body;
          const preloader = {
            endLoading: () => {
              $body.classList.remove('overflow-locked');
              $loadingBox.classList.add('loaded');
            },
            initLoading: () => {
              $body.classList.add('overflow-locked');
              $loadingBox.classList.remove('loaded');
            }
          };

          preloader.initLoading();
          window.addEventListener('load', preloader.endLoading);
        })();
      `}
    </script>
  </div>
) : null}
