---
import type { Language, PostHeading } from '@src/types';
import { useTranslations } from '@src/utils';
import CardPostTocItems from './card_post_toc_items.astro';

interface Props {
  lang: Language;
  postHeadings?: PostHeading[];
}
const { lang, postHeadings } = Astro.props;
const t = useTranslations(lang);
---

<div id="card-toc" class="card-widget">
  <div class="item-headline">
    <i class="fas fa-stream"></i>
    <span>{t('aside.card_toc')}</span>
    <span class="toc-percentage"></span>
  </div>
  <CardPostTocItems postHeadings={postHeadings} />
</div>
