---
import type { Language } from '@src/types';
import { theme } from '../theme';
import { getConfig } from '../config';
import { is_home, is_archive, is_category } from '@src/utils';

interface Props { lang: Language; page: Record<string, any>; }
const { page, lang } = Astro.props;
const config = getConfig(lang);

import '@fortawesome/fontawesome-free/css/all.min.css'
import '../styles/global.css';
import '../styles/layout.css';
import '../styles/pages.css';
import '../styles/tags.css';
import '../styles/modes.css';
import '../styles/search.css';

const isHome = is_home(Astro.url);
const isArchive = is_archive(Astro.url);
const isCategory = is_category(Astro.url);

let pageTitle;
if (isArchive) {
  pageTitle = page.title;
} else if (isCategory) {
  pageTitle = page.title;
} else {
  pageTitle = page.title || config.title || '';
}

const tabTitle = isHome || !pageTitle ? config.title : pageTitle + ' | ' + config.title;
const pageAuthor = config.author;
const pageCopyright = config.copyright || config.author;
const themeColorLight = '#ffffff';
const themeColorDark = '#0d0d0d';
const themeColor = theme.display_mode === 'dark' ? themeColorDark : themeColorLight;
---
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0,viewport-fit=cover" />
  <title>{tabTitle}</title>
  <meta name="author" content={pageAuthor} />
  <meta name="copyright" content={pageCopyright} />
  <meta name="format-detection" content="telephone=no" />
  <meta name="theme-color" content={themeColor} />

  <link rel="shortcut icon" href={theme.favicon || "/favicon.ico"}>
  <link rel="icon" type="image/png" sizes="48x48" href="/favicon-48.png">

  {theme.pwa?.enable && (
    <>
      <link rel="manifest" href="/manifest.json" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-status-bar-style" content="default" />
      <meta name="apple-mobile-web-app-title" content={theme.pwa.short_name || "Isla9999"} />
      <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />
    </>
  )}
</head>
