---
import type { Language } from '@src/types';
import { useTranslations } from '@src/utils';

interface Props { lang: Language; }
const { lang } = Astro.props;
const t = useTranslations(lang);
---

<div id="rightside">
  <div id="rightside-config-hide">
    <button id="darkmode" type="button" title={t('rightside.dark_mode')}>
      <i class="fas fa-moon"></i>
    </button>
  </div>
  <div id="rightside-config-show">
    <button id="rightside-config" type="button" title={t('rightside.setting')}>
      <i class="fas fa-cog fa-spin"></i>
    </button>
    <button id="go-up" type="button" title={t('rightside.back_to_top')}>
      <span class="scroll-percent"></span>
      <i class="fas fa-arrow-up"></i>
    </button>
  </div>
</div>
